@model AccountServer.DB.AccountDb

@{
    ViewData["Title"] = "Sign Up";
}

<head>
    <link rel="stylesheet" href="~/css/Signup.css" type="text/css" />
</head>

<body>
    <form class="form-horizontal" method="post" asp-controller="Account" asp-action="Account">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" asp-for="Username" placeholder="사용자 ID 입력" />
            <span class="text-danger" asp-validation-for="Username"></span>
        </div>

        <div class="form-group">
            <label>패스워드</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="사용자 PW 입력" />
            <span class="text-danger" asp-validation-for="Password"></span>

        </div>

        <div class="form-group">
            <label>닉네임</label>
            <input type="text" class="form-control" asp-for="Nickname" placeholder="닉네임" />
            <span class="text-danger" asp-validation-for="Nickname"></span>

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary"> 회원가입</button>
            <a class="btn btn-warning" href="#"> 취소</a>
        </div>

    </form>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
